name: Generate snake

on:
  schedule:
    # run at 23:00 UTC daily
    - cron: "0 23 * * *"
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake (SVG + dark SVG + GIF)
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          # Light blue palette
          outputs: |
            dist/snake.svg?color_snake=%2360A5FA&color_dots=%23E0F2FE,%23BAE6FD,%2393C5FD,%2360A5FA,%231E3A8A
            dist/snake-dark.svg?palette=github-dark&color_snake=%2393C5FD&color_dots=%2327154A,%2330325A,%233256A1,%2359A5FF,%23BAE6FD
            dist/snake.gif?color_snake=%2360A5FA&color_dots=%23E0F2FE,%23BAE6FD,%2393C5FD,%2360A5FA,%231E3A8A
      - name: Deploy to GitHub Pages (output branch)
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
